[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pygame = "*"
pytest-flask = "*"
"e1839a8" = {path = ".", editable = true}


[packages]

cylgame = "==1.5.1"


[requires]

python = ">=3.5"
