[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pygame = "*"
pytest-flask = "*"
pytest-cov = "*"
codecov = "*"

[packages]
cylgame = "==1.5.1"
littlepython = "*"
crypto = "*"
pycrypto = "*"
gevent = "*"

[requires]
python = ">=3.5"
